body {
    background-image: url('./pics/background.jpg');
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

header {
    text-align: center;
    background-color: rgba(142, 166, 255, 0.2);
    backdrop-filter: blur(10px); /* Este añade un efecto de desenfoque al fondo del header similar al aero */
    color: #75e1a0;
    font-family: Monocraft Nerd Font, monospace;
    margin: auto 5px 5px 5px;
    padding: 15px 0;
}

.sidebar {
    position: fixed;
    top: 20%;
    left: 0;
    height: 100%;
    width: auto;
    background-color: rgba(142, 166, 255, 0.2);
    backdrop-filter: blur(10px); /* Este añade un efecto de desenfoque al fondo de la barra lateral similar al aero */
    padding: 10px;
    font-family: Monocraft Nerd Font, monospace;
    color: #75e1a0;
    height: auto;
    z-index: 5;
}

.sidebar button {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(117, 225, 160, 0.2);
    border: none;
    color: #75e1a0;
    font-family: Monocraft Nerd Font, monospace;
    cursor: pointer;
    backdrop-filter: blur(10px); /* Este añade un efecto de desenfoque al fondo del botón similar al aero */
}

.sidebar button:hover {
    background-color: rgba(117, 225, 160, 0.4);
}

footer {
    position: fixed;
    left: 15%;
    right: 15%;
    bottom: 10px;
    width: auto; /* mantiene el ancho relativo al body */
    z-index: 5;
    background-color: rgba(142, 166, 255, 0.2);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-family: Monocraft Nerd Font, monospace;
    color: #75e1a0;
    backdrop-filter: blur(10px); /* Este añade un efecto de desenfoque al fondo del footer similar al aero */
}